@model JH_Model.M_AttandenceModel
@{
    ViewBag.Title = "Attendance Import";
}
<style>
    .newcustom {
        border: 1px solid #b5b5b5;
        background-color: #f2f2f2;
        height:36px;
    }
</style>

@using (@Html.BeginForm("AttendanceDataSave", "Attendance", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))

{
<div class="row">
    <div class="col-xl-12 col-md-12 mb-2">
        <div class="card border-left-info shadow">
            <div class="row" style="height:100px;">
                <div class="form-inline col-md-12 col-sm-12" role="form">
                    <div class="form-group col-md-3 col-sm-12">
                        <input type="file" id="uploadFile" accept=".xlsx" style="border:1px solid #b5b5b5;" name="uploadFile" class="btn btn-default btn-sm col-md-12" />
                    </div>
                    <div class="form-group col-md-2 col-sm-12 pull-left">
                        <button type="submit" class="btn btn-sm btn-custom1 col-md-8 newcustom">Import</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
}
