.input-numeral1, .input-numeral2, .input-numeral3,
.input-numeral4, .input-numeral5, .input-numeral6,
.input-numeral7, .input-numeral8, .input-numeral9,
.input-numeral10, .input-numeral11, .input-numeral12,
.input-numeral13, .input-numeral14, .input-numeral15 {
    text-align: right;
}

#radioBtn .notActive {
    color: #17a2b8;
    background-color: #fff;
}

.text-custom1{
    color:chocolate;
}

.border-left-custom1 {
    border-left: .25rem solid chocolate !important;
}


.text-custom2 {
    color: darkorchid;
}

.border-left-custom2 {
    border-left: .25rem solid darkorchid !important;
}


.hrtable thead th {
    color: black;
    background: cornsilk;
}
.hrtable tr:nth-child(even){
background:azure;
}

.hrtable tr{
color:black;
}

td.details-control {
    background: url('../Images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../Images/details_close.png') no-repeat center center;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}